services:
    errorFormatter.ticketswap:
        class: TicketSwap\PHPStanErrorFormatter\TicketSwapErrorFormatter
        arguments:
            relativePathHelper: '@simpleRelativePathHelper'
            ciDetectedErrorFormatter: '@PHPStan\Command\ErrorFormatter\CiDetectedErrorFormatter'
            editorUrl: '%editorUrl%'
            environmentVariables: '%env%'
