services:
    errorFormatter.ticketswap:
        class: TicketSwap\PHPstanErrorFormatter\TicketSwapErrorFormatter
        arguments:
            relativePathHelper: '@simpleRelativePathHelper'
            editorUrl: '%editorUrl%'
