includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- extension.neon
parameters:
	level: 8
	paths:
		- src
	phpVersion: 80100
	errorFormat: ticketswap
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
